QuipFromSalesforceMaps/force-app/main/default/flows/Create_Quip_and_Open.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Attach_Quip_to_Event</name>
        <label>Attach Quip to Event</label>
        <locationX>616</locationX>
        <locationY>429</locationY>
        <actionName>c:quipCreatorHelper</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>openQuip</targetReference>
        </connector>
        <inputParameters>
            <name>eventId</name>
            <value>
                <elementReference>createEvent</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quipLink</name>
            <value>
                <elementReference>createdQuipLink</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>openQuip</name>
        <label>openQuip</label>
        <locationX>766</locationX>
        <locationY>429</locationY>
        <actionName>c:FlowRedirectToURL</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>createdQuipLink</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>VisitReportCreation</name>
        <label>VisitReportCreation</label>
        <locationX>345</locationX>
        <locationY>429</locationY>
        <actionName>copyQuipDocument</actionName>
        <actionType>copyQuipDocument</actionType>
        <connector>
            <targetReference>createEvent</targetReference>
        </connector>
        <inputParameters>
            <name>sourceDocumentUrl</name>
            <value>
                <elementReference>getSettings.Quip_Template_URL__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>documentTitle</name>
            <value>
                <elementReference>getSettings.Quip_Title__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>docId</assignToReference>
            <name>documentId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>createdQuipLink</assignToReference>
            <name>documentLink</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <description>To create and open quip from SF maps action</description>
    <formulas>
        <name>endDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} +  (1) + (1/24)</expression>
    </formulas>
    <formulas>
        <name>startDateTIme</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + (1)</expression>
    </formulas>
    <interviewLabel>Create Quip From {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Quip and Open</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createEvent</name>
        <label>createEvent</label>
        <locationX>496</locationX>
        <locationY>429</locationY>
        <connector>
            <targetReference>Attach_Quip_to_Event</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>getSettings.Event_Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>endDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>startDateTIme</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Meeting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Name</name>
        <label>Get Account Name</label>
        <locationX>176</locationX>
        <locationY>241</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSettings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSettings</name>
        <label>getSettings</label>
        <locationX>176</locationX>
        <locationY>429</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VisitReportCreation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QualifiedApiName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>creation_of_quip_from_sf_maps</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quip_Creator__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Account_Name</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>createdQuipLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>docId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
